<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<h2 th:text="${msg}"></h2>
	<div class="row">
        	<div class="col-md-6">
        		<div class="card">
        			<div class="card-header">
        				Update Password
        			</div>
        			<div class="card-body">
        				<form th:action="@{/user/submitPass}" method="post">
        					<div class="row form-group">
        						<label class="col-sm-4">Password Lama</label>
        						<input class="col-sm-8 form-control input-sm" type="password" name="old" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" title="Password harus mengandung angka dan huruf serta minimal memiliki 8 karakter" required="required"/>
        					</div>
        					<div class="row form-group">
        						<label class="col-sm-4">Password Baru </label>
        						<input class="col-sm-8 form-control input-sm" type="password" name="newPass" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" title="Password harus mengandung angka dan huruf serta minimal memiliki 8 karakter" required="required"/>
        					</div>
        					<div class="row form-group">
        						<label class="col-sm-4">Konfirmasi Password Baru </label>
        						<input class="col-sm-8 form-control input-sm" type="password" name="confirm" pattern="(?=.*\d)(?=.*[a-zA-Z]).{8,}" title="Password harus mengandung angka dan huruf serta minimal memiliki 8 karakter" required="required"/>
        					</div>
        					<div>
        						<button type="submit" class="btn btn-primary">Simpan</button>
        					</div>
        				</form>
        			</div>
        		</div>
        	</div>
        </div>


</body>